LOG_LEVEL=info
LOG_FORMAT=text

GRPC_ADDRESS=:50051
HTTP_ADDRESS=:8080

OPENSEARCH_ADDRESSES=http://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=
OPENSEARCH_API_KEY=
OPENSEARCH_INSECURE_SKIP_VERIFY=false
